# Node modules
node_modules/

# Builds
dist/
build/

# Environment files
.env
.env.*
 env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Image files (correct)
*.png
*.jpg
*.jpeg
*.gif
*.webp
